:root {
    --color-main-bg: #fff;
    --color-pri: #566459;
    --color-white: #fff;
    --color-black: #000;
    --color-category-one: #3c463e;
    --color-category-two: #1b661f;
    --color-category-three: #15531a;
    --color-caregory-four: #191d26;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    background-color: var(--color-main-bg);
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

h1, h2, h3, h4, h5, h6, li, a {
    font-family: 'Roboto Condensed', Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 900;
}

p {
    font-family: 'Roboto', Arial, "Helvetica Neue", Helvetica, sans-serif;
}

/*HEADER*/

header {
    /*padding-left: 8rem;
    padding-right: 8rem;*/
    background-color: var(--color-pri);
}

nav {
    display: grid;
    grid-template-rows: minmax(min-content, 100px) min-content;
}

nav .content {
    background-color: var(--color-pri);
    display: grid;
    place-items: center;
    grid-auto-flow: column;
    align-content: space-evenly;
}

nav .content a {
    text-decoration: none;
}

nav .content h1 {
    color: var(--color-white);
    font-size: 3em;
}

nav .content .menu {
    display: none;
    color: var(--color-white);
}

nav .content .menu:hover {
    filter: opacity(95%);
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
}

nav .content .links {
    display: grid;
    grid-gap: 30px;
    grid-auto-flow: column;
    /*grid-auto-columns: minmax(min-content, 90px);*/
    place-items: center;
}

nav .content .links a {
    color: var(--color-white);
    font-size: 1.5em;
    text-decoration: none;
    transition: all .2s ease-in-out;
}

nav .content .links a:hover {
    transform: scale(1.1);
}

nav .dropdown {
    display: grid;
    background-color: var(--color-pri);
    text-align: left;
    display: none;
}

nav .dropdown a {
    color: var(--color-white);
    padding: 20px;
    text-decoration: none;
    font-size: 1.4em;
    border-bottom: 1px solid var(--color-category-one);
}

nav .dropdown a:first-of-type {
    border-top: 1px solid var(--color-category-one);
}

nav .dropdown a:hover {
    color: var(--color-pri);
    background-color: var(--color-white);
}

/*MAIN*/

/*FOOTER*/

footer {
    background-color: var(--color-pri);
    color: var(--color-white);
}

.footerWrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 50px 8rem;
    grid-template-rows: minmax(150px, auto);
    grid-gap: 10px;
}

.footerBox {
    position: relative;
}

.footerBox::before {
    content: '';
    height: 7px;
    width: 3rem;
    background-color: var(--color-white);
    top: -10px;
    left: 1px;
    position: absolute;
}

.footerBox ul {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20px, 1fr));
    margin: 20px 0px;
    text-align: center;
    font-size: 3rem;
    
}

.footerBox i {
    transition: all .1s ease-in-out; 
    color: var(--color-white);
}

.footerBox i:hover {
    transform: scale(1.1);
}

.footerBox p {
    padding-top: 20px;
}

/*BREAKPOINTS*/

/*JUST LOOKS BETTER*/
@media only screen and (max-width: 1300px){
    .footerBox ul {
        font-size: 2rem;
    }
}

/*IPAD I GUESS*/
@media only screen and (max-width: 800px){
    /*HEADER*/
    /*header  {
        padding-left: 2rem;
    }
    */
    nav .content .menu {display: initial;}
    nav .content .links {display: none;}

    /*MAIN*/


    /*FOOTER*/
    
    .footerWrapper {
        grid-template-columns: 1fr;
        margin-right: 2rem;
        margin-left: 2rem;
    }

    .footerBox {
        margin-bottom: 30px;
    }
}
